:root {
    --primary-color: #FDF0D1;
    --secondary-color: #AC7D88;
    --tertiary-color: #85586F;
    --quaternary-color: #643843;

    --glassmorphism-color: #FDF0D177;
}

body {
    padding: 1em;
    margin: 0;
    background: linear-gradient(var(--secondary-color),var(--tertiary-color));
    font-family: sans-serif;
    font-variant: small-caps;
}
.header {
    width: 100%;
    text-align: center;
    color: var(--quaternary-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.title {
    font-size: 1.25em;
    width: 97%;
    height: 2em;
    border-bottom: solid 2px #ffff;
    margin: 0.5em 0;
}
.title-icon {
    margin: 0.25em;
    height: 2em;
    width: 2em;
    background-repeat: no-repeat;
    background-size: cover;
    filter: invert(1);
}
.content {
    width: 100%;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo-image-bg {
    /* opacity: 0.4; */
    height: 100%;
    width: 100%;
    aspect-ratio: 2.21;
    margin: auto;
    position: absolute;
    z-index: -1;
    background-image: url(../images/thinking-man.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: cover;
    filter:brightness(0.25);
    border-radius: 0.5em;
}
.card-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 90%;
    align-content: flex-start;
}
.glassmorphism {
    backdrop-filter: blur(12px);
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.25);
    background-color: var(--glassmorphism-color);
    border-radius: 0.5em;
}
.card {
    position: relative;
    height: 4em;
    width: 12em;
    padding: calc(min(0.5em,2.5%));
    margin: calc(min(0.5em,1.25%));
    overflow: hidden;
    pointer-events: all;
}
.card-header {
    width: 100%;
    height: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    color: #643843;
    margin-top: 0.5em;
    position: relative;
}
.card-title {
    font-size: 1.125em;
}
.card-contents {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-variant: normal;
    filter: blur(3px);
}
.card:focus .card-contents {
    filter: none;
}
.card-contents>p,
.card-contents>ul {
    margin: 0.25em;
    font-size: 1em;
}
.card-icon {
    margin: 0.25em;
    height: 1em;
    width: 1em;
    mask-repeat: no-repeat;
    mask-size: cover;
    background-color: var(--quaternary-color);
}
.icon[data-icon='health'] {
    mask-image: url('../images/svg/health.svg')
}
.icon[data-icon='family'] {
    mask-image: url('../images/svg/family.svg')
}
.icon[data-icon='friends'] {
    mask-image: url('../images/svg/friends.svg')
}
.icon[data-icon='relationship'] {
    mask-image: url('../images/svg/relationship.svg')
}
.icon[data-icon='hamburger'] {
    mask-image: url('../images/svg/hamburger.svg')
}
.icon[data-icon='back-arrow'] {
    mask-image: url('../images/svg/back-arrow.svg')
}
.card-container:focus-within .card:not(:focus) {
    display: none;
}
.card:focus {
    position: relative;
    padding-bottom: 1.25em;
    width: 93%;
    height: fit-content;
    max-height: 100%;
    z-index: 1;
    overflow-y: scroll;
}

.card .icon[data-icon='back-arrow'] {
    display: none;
}
.card:focus .icon[data-icon='back-arrow'] {
    display: block;
    position: absolute;
    right: 0;
}

@media screen and (max-width:440px) {
    .card {
        height: 2em;
        width: 42.5%;
    }
    .card-contents {
        display: none;
    }
    .card:focus .card-contents {
        display: flex;
    }
}

@media screen and (min-width:440px) {
    .card:hover,
    .card:focus {
        top: -0.25em;
    }
}