body {
    padding: 1em;
}
.page-header {
    width: 100%;
    text-align: center;
    color: #fff;
}
.content {
    width: 100%;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo-image-bg {
    /* opacity: 0.4; */
    height: 100%;
    width: 100%;
    aspect-ratio: 2.21;
    margin: auto;
    position: absolute;
    z-index: -1;
    background-image: url(../images/thinking-man.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: cover;
    filter:brightness(0.75);
    border-radius: 0.5em;
}
.idea-map-section-button {
    display: block;
    width: 14em;
    background-color: #ccc;
    height: 4em;
    color: #000;
    font-size: 1.5em;
    font-weight: bold;
    border-radius: 0 2em 2em 0;
    border-color: #fa0;
    border-width: 0.25em;

}
.card-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.glassmorphism {
    backdrop-filter: blur(12px);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
    background-color: #bbbbbb77;
    border-radius: 0.5em;
}
.card {
    top: 0;
    transition: 
    top 0.1s ease-out,
    background-color 0.1s ease-out;
    position: relative;
    height: 4em;
    width: 12em;
    padding: 1em;
    margin: 0.5em;
    overflow: hidden;
    pointer-events: all;
}
.card:hover,
.card:focus {
    top: -0.25em;
    background-color: #bbbbbb99;
}
.card:focus {
    transition: 
    top 0.1s ease-out,
    background-color 0.1s ease-out,
    width 0.5s ease-out,
    height 0.5s ease-out;
    background-color: #bbbbbb99;
    padding-bottom: 1.25em;
    position: absolute;
    width: 80%;
    height: 80%;
    z-index: 1;
}
.card-header {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #c5e4f0;
    text-shadow: #00000041 2px 2px;
}
.card-contents>p {
    font-size: 0.5em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; 
}
.card-icon {
    margin: 0.25em;
    height: 1.5em;
    width: 1.5em;
    background-repeat: no-repeat;
    background-size: cover;
    filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(35deg) brightness(118%) contrast(119%) drop-shadow(0px 0px 2px #0007);
}
.card-icon[data-icon='health'] {
    background-image: url('../images/svg/health.svg')
}
.card-icon[data-icon='family'] {
    background-image: url('../images/svg/family.svg')
}
.card-icon[data-icon='friends'] {
    background-image: url('../images/svg/friends.svg')
}
.card-icon[data-icon='relationship'] {
    background-image: url('../images/svg/relationship.svg')
}

.section-content {
    transition: all 0.25s linear;
    height: 0;
    width: 95%;
    padding: 1em;
    opacity: 0;
    overflow-y: scroll;
    top: -10em;
}
.section-content:focus{
    height: 80%;
    opacity: 1;
    border: none;
    outline: none;
}

@media screen and (max-width:440px) {
    .card {
        height: 2em;
        width: 45%;
    }
    .card-contents {
        display: none;
    }
}