:root {
    --primary-color: #EEE9DA;
    --secondary-color: #BDCDD6;
    --tertiary-color: #93BFCF;
    --quaternary-color: #40687e;
    --text-color: #000;
    --glassmorphism-color: #000000cf;
    --glassmorphism-hover-color: #2229;
    --transiton-duration-tiny: 0.125s;
    --transiton-duration-short: 0.25s;
    --transiton-duration-medium: 0.5s;
}
:root[data-section="home"] {
    --secondary-color: #fff;
    --tertiary-color: #fff;
    --quaternary-color: #fff;
}
:root[data-section="articles"] {
    --secondary-color: #D3BDD6;
    --tertiary-color: #C193CF;
    --quaternary-color: #75407E;
}

:root[data-section="earth"] {
    --secondary-color: #d2d3a9;
    --tertiary-color: #d0d17c;
    --quaternary-color: #7e7d40;
}
:root[data-section="earth"] .star {
    width: 8px;
    height: 8px;
}
:root[data-section="studies"] {
    --secondary-color: #C1D6BD;
    --tertiary-color: #A1CF93;
    --quaternary-color: #497E40;
}
:root[data-section="workouts"] {
    --secondary-color: #D6C6BD;
    --tertiary-color: #CFA393;
    --quaternary-color: #7E5640;
}
:root[data-instant-section="home"] .header-link[data-section="home"] {
    color: #fff;
    border-color: #fff;
    background-color: #fff;
    color: #000;
}

:root[data-instant-section="articles"] .header-link[data-section="articles"],
:root[data-instant-section="earth"] .header-link[data-section="earth"],
:root[data-instant-section="studies"] .header-link[data-section="studies"],
:root[data-instant-section="workouts"] .header-link[data-section="workouts"] {
    color: var(--tertiary-color);
    border-color: var(--tertiary-color);
}

:root[data-instant-section="home"] {
    --tertiary-color: #fff;
}
:root[data-instant-section="earth"] {
    --tertiary-color: #d0d17c;
}
:root[data-instant-section="home"] {
    --tertiary-color: #fff;
}
:root[data-instant-section="studies"] {
    --tertiary-color: #A1CF93;
}
:root[data-instant-section="workouts"] {
    --tertiary-color: #CFA393;
}

html {
    scroll-behavior: smooth;
    overscroll-behavior: none;
    height: 100%;
    overflow: hidden;
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    padding:0;
    margin:0;
    background-color: var(--secondary-color);
    transition: background-color var(--transiton-duration-medium) ease-in-out;
}
body {
    height: 100%;
    margin: 0;
    font-family: Futura;
    font-variant: small-caps;
    display: flex;
    flex-direction: column;
    font-family: Futura, Trebuchet MS, sans-serif; 
}
.body-overlay {
    pointer-events: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    background-image: linear-gradient(60deg, #0000, #0004);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    animation: background-loop 5s ease-in-out infinite;
}
@keyframes background-loop {
    0% {
      background-position: 0% 0%;
    }
    25% {
      background-position: 100% 0%;
    }
    50% {
      background-position: 100% 100%;
    }
    75% {
      background-position: 0% 100%;
    }
    100% {
      background-position: 0% 0%;
    }
  }
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 0;
    pointer-events: none;
    perspective: 1000px;
    opacity: 1;
    transition: opacity var(--transiton-duration-short) ease-out;
}
.content[hidden] {
    pointer-events: none;
    opacity: 0;
}
.content[hidden]:not(.visibility-animating) {
    display: none;
}
.header {
    width: 100%;
    text-align: center;
    color: var(--quaternary-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 2;
    font-size: 1.5em;
}
.additional-content {
    font-size: 1em;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    margin: 1em;
}
.header-link-container {
    border: 1px solid #fff2;
    margin: 0.5em 0 0 0;
    padding: 0.25em;
    display: flex;
    border-radius: 1.2em;
    backdrop-filter: saturate(180%) blur(20px);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    /* box-shadow: 0 0 3px 0px var(--quaternary-color); */
}
.header-link {
    color: #fff;
    border-radius: 2em;
    padding: 0.25em;
    margin: 0.25em;
    box-shadow: 0 2px 5px 0px #0005;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 5em;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    user-select: none;
    cursor: pointer;
    transition: all var(--transiton-duration-short) ease-out;
}
.header-link-focal {
    border: 1px solid #fff;
    color: #fff;
}
.header-link[data-disabled] {
    opacity: 0.75;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.199);
    box-shadow: none;
}
.header-link[data-disabled] .icon {
    background-color: #aaa;
}
.header-icon {
    border-radius: 0.25em;
    background-color: var(--primary-color);
    width: 2em;
    height: 2em;
    display: flex;
    justify-content: center;
    transition: background-color var(--transiton-duration-medium) ease-in-out;
}
.card-selected-details {
    overflow-y: hidden;
    margin: 1.25%;
    width: 55%;
    display: flex;
    flex-direction: column;
    opacity: 0.8;
    transition: opacity var(--transiton-duration-short) ease-in-out;
    background: var(--secondary-color);
    pointer-events: all;
    border-radius: 0.5em;
    color: var(--primary-color);
}
.card-selected-details .card-header {
    padding: 0.5em 0;
    flex-direction: row;
    align-items: center;
    justify-content: normal;
    user-select: none;
}
.card-selected-details.visibility-animating {
    pointer-events: none;
}
.card-selected-details[hidden] {
    pointer-events: none;
    opacity: 0;
}
.card-selected-details[hidden]:not(.visibility-animating) {
    display: none;
}
.section-group {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    transition: opacity var(--transiton-duration-short) ease-out;
    opacity: 1;
    overflow-y: auto;
    top: 0;
    position: relative;
    pointer-events: all;
}
.section-group.visibility-animating {
    pointer-events: none;
}
.section-group[hidden] {
    pointer-events: none;
    opacity: 0;
}
.section-group[hidden]:not(.visibility-animating) {
    display: none;
}

.glassmorphism {
    backdrop-filter: blur(12px);
    box-shadow: 0px 1px 2px 0px rgb(150 150 150 / 25%);
    background-color: var(--glassmorphism-color);
    border-radius: 0.5em;
}
.card {
    position: relative;
    min-height: 3em;
    max-width: calc(min(12em, 45%));
    padding: 0.25em;
    margin: 0.25em;
    overflow: hidden;
    display: flex;
    pointer-events: all;
    cursor: pointer;
    transition: all var(--transiton-duration-tiny) ease-out;
    user-select: none;
    top: 0;
    color: var(--tertiary-color);
}
.card.disabled {
    opacity: 0.75;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.199);
    box-shadow: none;
}
.card-header {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    justify-content: space-between;
}
.card-date {
    width: 100%;
    height: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}
.card-upper-contents {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.card-title {
    font-size: 1.125em;
    width: 8em;
    text-wrap: balance;
    line-height: 1em;
}
.card-contents {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-variant: normal;
    border-top: dashed 1px var(--quaternary-color);
    overflow-y: auto;
    padding: 0.5em;
}
.card-contents>p,
.card-contents>ul,
.card-contents>h1,
.card-contents>h2,
.card-contents>h3 {
    line-height: 1.125em;
    margin: 0.125em;
    font-size: 1em;
}
.workouts-overlay {
    position: absolute;
    bottom: 0.25em;
    width: 100%;
    height: 3em;
    display: flex;
    justify-content: space-between;
    left: 0;
}
.workouts-overlay[hidden] {
    display: none;
}
.timer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0.25em;
    width: 50%;
    background-color: var(--secondary-color);
    justify-content: space-between;
}
.timer-time-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: auto;
}
.timer-time {
    font-size: 1.5em;
    font-weight: bold;
    color: var(--quaternary-color);
}

/* Icons */
.card-icon {
    margin: 0.25em;
    height: 1.5em;
    width: 1.5em;
    background-color: var(--quaternary-color);
}
.icon {
    mask-repeat: no-repeat;
    mask-size: cover;
}
.icon[data-icon='health'] {
    mask-image: url('../images/svg/health.svg');
    -webkit-mask-image: url('../images/svg/health.svg');
}
.icon[data-icon='family'] {
    mask-image: url('../images/svg/family.svg');
    -webkit-mask-image: url('../images/svg/family.svg');
}
.icon[data-icon='friends'] {
    mask-image: url('../images/svg/friends.svg');
    -webkit-mask-image: url('../images/svg/friends.svg');
}
.icon[data-icon='relationship'] {
    mask-image: url('../images/svg/relationship.svg');
    -webkit-mask-image: url('../images/svg/relationship.svg');
}
.icon[data-icon='hamburger'] {
    mask-image: url('../images/svg/hamburger.svg');
    -webkit-mask-image: url('../images/svg/hamburger.svg');
}
.icon[data-icon='back-arrow'] {
    mask-image: url('../images/svg/back-arrow.svg');
    -webkit-mask-image: url('../images/svg/back-arrow.svg');
}
.icon[data-icon='home'] {
    mask-image: url('../images/svg/home.svg');
    -webkit-mask-image: url('../images/svg/home.svg');
}
.icon[data-icon='book'] {
    mask-image: url('../images/svg/book.svg');
    -webkit-mask-image: url('../images/svg/book.svg');
}
.icon[data-icon='thinking'] {
    mask-image: url('../images/svg/thinking.svg');
    -webkit-mask-image: url('../images/svg/thinking.svg');
}
.icon[data-icon='thought'] {
    mask-image: url('../images/svg/thought.svg');
    -webkit-mask-image: url('../images/svg/thought.svg');
}
.icon[data-icon='prayer'] {
    mask-image: url('../images/svg/prayer.svg');
    -webkit-mask-image: url('../images/svg/prayer.svg');
}
.icon[data-icon='play'] {
    mask-image: url('../images/svg/play.svg');
    -webkit-mask-image: url('../images/svg/play.svg');
}
.icon[data-icon='pause'] {
    mask-image: url('../images/svg/pause.svg');
    -webkit-mask-image: url('../images/svg/pause.svg');
}
.icon[data-icon='reset'] {
    mask-image: url('../images/svg/reset.svg');
    -webkit-mask-image: url('../images/svg/reset.svg');
}
.icon[data-icon='strong'] {
    mask-image: url('../images/svg/strong.svg');
    -webkit-mask-image: url('../images/svg/strong.svg');
}
.icon[data-icon='earth'] {
    mask-image: url('../images/svg/earth.svg');
    -webkit-mask-image: url('../images/svg/earth.svg');
}

.card .icon[data-icon='back-arrow'] {
    display: none;
}
.icon[data-icon='back-arrow'] {
    display: block;
    position: absolute;
    right: 0;
    height: 1.5em;
    width: 1.5em;
    margin: 0;
}
.external-link {
    padding: 0.25em;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 20px;
    border-radius: 5px;
    margin: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25em;
    font-weight: bold;
    color: var(--secondary-color);
    transition: color var(--transiton-duration-medium) ease-in-out;
    backdrop-filter: blur(12px);
    box-shadow: 0 0 2px 1px #fff;
    width: 3em;
    height: 3em;
}
.descriptive-text {
    font-size: 1.25em;
    line-height: 1em;
    color: #fff;
    border-radius: 0.125em;
    margin: 0.5em;
    pointer-events: none;
    user-select: none;
}

.top-margin {
    margin-top: 0.75em;
}
.descriptive-text-header {
    width: 90%;
    text-align: center;
    line-height: 1.125em;
    max-width: 38em;
}
.descriptive-text-title {
    text-decoration: underline;
}
.link-image {
    width: 3em;
    height: 3em;
}
.prevent-sleep {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 4px;
    width: 50%;
    height: 40px;
    background-color: var(--secondary-color);
    font-size: 1.125em;
    color: var(--quaternary-color);
    justify-content: center;
}
.toggle-switch {
    position: relative;
    display: inline-block;
    width: 2.15em;
    height: 1em;
    -webkit-tap-highlight-color: transparent;
    margin-right: 0.25em;
}
.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.toggle-switch label {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--tertiary-color);
    transition: .4s;
    border-radius: 2em;
}
.toggle-switch label:before {
    position: absolute;
    content: "";
    height: 0.75em;
    width: 0.75em;
    left: 2px;
    bottom: 2.5px;
    background-color: var(--primary-color);
    transition: .4s;
    border-radius: 50%;
}
.toggle-switch input:checked + label {
    background-color: var(--quaternary-color);
}
.toggle-switch input:checked + label:before {
    transform: translateX(21px);
}
.card-contents>* {
    animation-name: slidein;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    animation-duration: 300ms;
    opacity: 0;
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: var(--quaternary-color);  
}
::-webkit-scrollbar-thumb {
    background: var(--primary-color); 
}


@keyframes slidein {
    from {
        opacity: 0;
        transform: translateX(-50px);
      }
    
      to {
        opacity: 1;
        transform: translateX(0px);
      }
}

/* Animating text */
.enter-0 {
    animation-delay: 0.0s;
}
.enter-1 {
    animation-delay: 0.1s;
}
.enter-2 {
    animation-delay: 0.2s;
}
.enter-3 {
    animation-delay: 0.3s;
}
.enter-4 {
    animation-delay: 0.4s;
}
.enter-5 {
    animation-delay: 0.5s;
}
.enter-6 {
    animation-delay: 0.6s;
}
.enter-7 {
    animation-delay: 0.7s;
}
.enter-8 {
    animation-delay: 0.8s;
}
.enter-9 {
    animation-delay: 0.9s;
}
.enter-10 {
    animation-delay: 1.0s;
}
.enter-11 {
    animation-delay: 1.1s;
}
.enter-12 {
    animation-delay: 1.2s;
}
.enter-13 {
    animation-delay: 1.3s;
}
.enter-14 {
    animation-delay: 1.4s;
}
.enter-15 {
    animation-delay: 1.5s;
}
.enter-16 {
    animation-delay: 1.6s;
}
.enter-17 {
    animation-delay: 1.7s;
}
.enter-18 {
    animation-delay: 1.8s;
}
.enter-19 {
    animation-delay: 1.9s;
}
.enter-20 {
    animation-delay: 2.0s;
}
.enter-21 {
    animation-delay: 2.1s;
}
.enter-22 {
    animation-delay: 2.2s;
}
.enter-23 {
    animation-delay: 2.3s;
}
.enter-24 {
    animation-delay: 2.4s;
}
.enter-25 {
    animation-delay: 2.5s;
}

.card-container {
    perspective: 1000px;
    margin-top: 0.5em;
    margin-bottom: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    pointer-events: all;
    width: 100%;
}
.special-card {
    position: relative;
    transition: transform 0.5s ease-out, top 0.5s ease-out;
    transform-style: preserve-3d;
    width: 18em;
    height: 18em;
    margin: 0.75em;
    border-radius: 0.5em;
    top: 0;
}
.special-card.animating {
    transition: transform 1s;
}
.card-front, .card-back {
    top: 0;
    position: absolute;
    backface-visibility: hidden;
    left: 0;
    border-radius: 0.5em;
    box-shadow: 0 1px 5px 2px #0005;
    border: 2px solid #fff;
    width: 100%;
    height: 100%;
}
.card-front {
    /* transform: translate(-10em); */
}
.card-back {
    display: flex;
    flex-direction: row;
    transform: rotateY(180deg);
    flex-wrap: wrap;
    justify-content: center;
}
.card-back * {
    z-index: 1;
}
.card-back .hero-image {
    filter: hue-rotate(180deg) contrast(40%);
    transform: scaleX(-1);
    opacity: 0.2;
    z-index: 0;
}
.special-card.flipped {
    transform: rotateY(180deg);
}
.hero-image {
    position: absolute;
    overflow: hidden;
    border-radius: 0.5em;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 0;
    user-select: none;
    -webkit-user-drag: none;
    pointer-events: none;
}

.vertically-centered-bg {
    object-position: 50% 50%;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.canvas-container {
    width: 100%;
    height: 100%;
    outline: none;
    pointer-events: none;
    position: absolute;
}
.earth-canvas {
    width: 100%;
    height: 100%;
    touch-action: none;
    outline: none;
    background-color: transparent;
    pointer-events: all;
}
.fullscreen {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

@media screen and (min-width:441px) {
    .header-link-focal:hover {
        border-color: #fff;
        background-color: #fff;
        color: #000;
    }
    .special-card:hover {
        top: -15px;
        box-shadow: 0 1px 20px 5px #ffffff8c;
    }
    ::-webkit-scrollbar-thumb:hover {
        background: var(--primary-color); 
    }
    .card:hover {
        background-color: var(--glassmorphism-hover-color);
        color: var(--secondary-color);
        top: -8px;
    }
    .card:hover .card-icon {
        background-color: var(--secondary-color);
    }
    .external-link:hover {
        box-shadow: 0 0 4px 2px #fff;
    }
    .header-link:hover {
        border-color: #fff2;
    }
}

@media screen and (max-width:440px) {
    .special-card {
        height: 17em;
        font-size: 0.75em;
        width: 44%;
    }
    .header-link {
        font-size: 0.75em;
        padding: 0;
        width: 3.75em;
        margin: 0;
        border: solid 1px #000;
    }
    .header-link-focal {
        border: 1px solid #fff;
    }
    .header-link-container {
        padding: 0.25em 0.125em;
        margin: 0.5em 0 0 0.5;
    }
    .card-selected-details {
        width: 90%;
        margin: 5%;
    }
}

/* BABYLON DEBUG */
#scene-explorer-host, #inspector-host {
    z-index: 999;
    pointer-events: all;
}

.three-dimension-mimicker {
    width: 120%;
    height: 120%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-10%, -10%) scale(1.2, 1);
}
.background, .foreground {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    transition: all var(--transiton-duration-medium) ease-out;
}
.background {
    background: #090727;
    background: url(../images/background.png);
    z-index: -2;
}
.foreground {
    background: url(../images/foreground.png);
    z-index: 0;
}
/* Stars */
#stars {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translateX(0);
    transition: transform 0.5s ease-out;
    transform-origin: center;
    pointer-events: none;
}

.star {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: var(--tertiary-color);
    pointer-events: none;
    transition: all 0.25s ease-out;
    box-shadow: 0 0 11px 11px var(--tertiary-color)
}