
body {
    font-size: 16px;
}
/* Cordonnier */
.P1 {
    background-color: rgb(234, 250, 198);
}
/* Aidan */
.P2 {
    background-color: rgb(180, 195, 201);
}

/* Anderson */
.P3 {
    background-color: rgb(197, 180, 175);
}

.P4 {
    background-color: rgb(194, 161, 196);
}

p:not(.P1) {
    margin-left: 10%;
}

p {
    margin: 1em 5%;
    padding: 1em 5%;
    box-shadow: 2px 2px #000;
    width: 80%;
}
.conversation {
    display: flex;
    flex-direction: column;
}

@media (max-width:960px) {
    p {
        width: 80%;
        margin-left: 0;
    }
}